# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/mas-stok?retryWrites=true&w=majority

# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Secret
JWT_SECRET=your-super-secret-jwt-key-here

# Admin Credentials
ADMIN_EMAIL=admin@masteknoloji.com
ADMIN_PASSWORD=admin123
